@import '../dark.scss';

$body-bg-color: #000000;
$header-bg-color: #3f0f0f;
$content-bg-color: #3f0f0f;
$modal-bg-color: $body-bg-color;
$modal-header-bg-color: $header-bg-color;
$default-text-color: #dd2222;
$text-color-faded: #ddaaaa;

$outer-bg-color: #3b3b3b;
$outer-text-color: $default-text-color;

$scrollbar-bg-color: transparent;
$scrollbar-color: #5f0f0f;

$link-color: #ee1111;
$link-color-hover: #ee3333;

$input-bg-color: #4f0000;
$input-focus-bg-color: #360000;
$input-text-color: $default-text-color;

$table-header-bg-color: #4f0000;
$table-header-text-color: $default-text-color;
$table-row-odd-bg-color: #3f0f0f;
$table-row-odd-text-color: $default-text-color;
$table-row-even-bg-color: #5f0f0f;
$table-row-even-text-color: $default-text-color;

@import '../base.scss';